Learn what the data is like.

12-31-2017

01-03-2018. I should save index for user info

---

In [1]:
import pandas as pd

---

#### User info

In [2]:
user_info_df = pd.read_csv('./data/data_format1/user_info_format1.csv', dtype=str,
                           index_col=0)
user_info_df.head(2)

        age_range gender
user_id
376517          6      1
234512          5      0

In [3]:
user_info_df.shape

(424170, 2)

In [4]:
user_info_df.isnull().sum()/user_info_df.shape[0]

age_range    0.005227
gender       0.015173
dtype: float64

##### Train/test pairs

In [5]:
train_user_arr = pd.read_csv('./data/data_format1/train_format1.csv', usecols=[0], squeeze=True).unique()
train_user_arr.shape

(212062,)

In [6]:
test_user_arr = pd.read_csv('./data/data_format1/test_format1.csv', usecols=[0], squeeze=True).unique()
test_user_arr.shape

(212108,)

##### Missing values

In [7]:
user_wo_age = user_info_df.index[user_info_df.age_range.isnull()].values
user_wo_age.size, user_wo_age.size / user_info_df.shape[0]

(2217, 0.005226677982884221)

In [8]:
user_wo_gender = user_info_df.index[user_info_df.gender.isnull()].values
user_wo_gender.size / user_info_df.shape[0]

0.01517316170403376

How many of them are in train/test?

In [9]:
pd.np.intersect1d(user_wo_age, train_user_arr).size, pd.np.intersect1d(user_wo_age, test_user_arr).size

(1081, 1136)

In [10]:
pd.np.intersect1d(user_wo_gender, train_user_arr).size, pd.np.intersect1d(user_wo_gender, test_user_arr).size

(3177, 3259)

##### Create a new category for missing val

For both of them, let's fill value

###### Age

0 is already for unknown

In [11]:
user_info_df.age_range.value_counts().sort_index()

0     92914
1        24
2     52871
3    111654
4     79991
5     40777
6     35464
7      6992
8      1266
Name: age_range, dtype: int64

In [12]:
user_info_df.age_range[user_info_df.age_range.isnull()] = '0'
user_info_df.age_range.value_counts().sort_index()

0     95131
1        24
2     52871
3    111654
4     79991
5     40777
6     35464
7      6992
8      1266
Name: age_range, dtype: int64

###### Gender

2 is already for unknown

In [13]:
user_info_df.gender.value_counts()

0    285638
1    121670
2     10426
Name: gender, dtype: int64

In [14]:
user_info_df.gender[user_info_df.gender.isnull()] = '2'
user_info_df.gender.value_counts()

0    285638
1    121670
2     16862
Name: gender, dtype: int64

##### Save

In [15]:
user_info_df.to_csv('./processes_data/user-info-df-12312017.csv')

---

#### User log

In [59]:
user_log_df = pd.read_csv('./data/data_format1/user_log_format1.csv')

In [62]:
user_log_df.shape

(54925330, 7)

In [60]:
user_log_df.dtypes

user_id          int64
item_id          int64
cat_id           int64
seller_id        int64
brand_id       float64
time_stamp       int64
action_type      int64
dtype: object

In [63]:
user_log_df.isnull().sum()

user_id            0
item_id            0
cat_id             0
seller_id          0
brand_id       91015
time_stamp         0
action_type        0
dtype: int64

Seems like there's nothing to save.